.frame-7 .vector-1 {
  transform: rotate(21.109deg);
  position: absolute;
  top: 130.9px;
  right: 113.9px;
  width: 137.6px;
  height: 66.4px;
}
.frame-7 .container {
  overflow-wrap: break-word;
  font-family: 'SF Pro Text', 'Roboto Condensed';
  font-weight: 600;
  font-size: 15px;
  letter-spacing: -0.5px;
  line-height: 1.333;
  color: var(--label-color-dark-primary, #FFFFFF);
}
.frame-7 .left-side {
  border-radius: 24px;
  display: flex;
  box-sizing: border-box;
}
.frame-7 .mobile-signal {
  margin: 0.3px 5px 0.3px 0;
  width: 17px;
  height: 10.7px;
}
.frame-7 .wifi {
  margin: 0 5px 0.4px 0;
  width: 15.3px;
  height: 11px;
}
.frame-7 .battery {
  margin-top: 0px;
  width: 24.3px;
  height: 11.3px;
}
.frame-7 .right-side {
  margin: 4.3px 0;
  display: flex;
  flex-direction: row;
  width: 66.7px;
  height: fit-content;
  box-sizing: border-box;
}
.frame-7 .status-bar-iphone-1313-pro {
  position: relative;
  margin-bottom: 178.5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  box-sizing: border-box;
}
.frame-7 .ciao {
  position: relative;
  margin: 0 15.8px 46.5px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Playfair Display';
  font-weight: 400;
  font-size: 14.6px;
  letter-spacing: 18.5px;
  line-height: 0.744;
  color: #FFFFFF;
}
.frame-7 .sign-up {
  position: relative;
  margin: 0 210.9px 38px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 700;
  font-size: 30px;
  letter-spacing: -0.5px;
  line-height: 0.967;
  color: #FFFFFF;
}
.frame-7 .full-name {
  position: absolute;
  left: 21px;
  bottom: 11px;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 500;
  font-size: 17px;
  letter-spacing: -0.5px;
  line-height: 1.706;
  color: rgba(255, 255, 255, 0.7);
}
.frame-7 .container {
  border-radius: 24.7px;
  border: 3px solid #A01760;
  position: relative;
  margin-bottom: 22px;
  width: 316px;
  height: 54px;
}
.frame-7 .emal {
  position: absolute;
  left: 21px;
  top: 12px;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 500;
  font-size: 17px;
  letter-spacing: -0.5px;
  line-height: 1.706;
  color: rgba(255, 255, 255, 0.7);
}
.frame-7 .container-4 {
  border-radius: 24.7px;
  border: 3px solid #A01760;
  position: relative;
  margin-bottom: 22px;
  width: 316px;
  height: 54px;
}
.frame-7 .password {
  position: absolute;
  left: 21px;
  bottom: 11px;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 500;
  font-size: 17px;
  letter-spacing: -0.5px;
  line-height: 1.706;
  color: rgba(255, 255, 255, 0.7);
}
.frame-7 .eye-slash {
  width: 24px;
  height: 24px;
}
.frame-7 .vuesaxlineareye-slash {
  position: absolute;
  right: 23px;
  bottom: 15px;
  display: flex;
  width: 24px;
  height: 24px;
  box-sizing: border-box;
}
.frame-7 .container-5 {
  border-radius: 24.7px;
  border: 3px solid #A01760;
  position: relative;
  margin-bottom: 22px;
  width: 316px;
  height: 54px;
}
.frame-7 .confirm-password {
  position: absolute;
  left: 21px;
  bottom: 11px;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 500;
  font-size: 17px;
  letter-spacing: -0.5px;
  line-height: 1.706;
  color: rgba(255, 255, 255, 0.7);
}
.frame-7 .eye-slash-1 {
  width: 24px;
  height: 24px;
}
.frame-7 .vuesaxlineareye-slash-1 {
  position: absolute;
  top: 14px;
  right: 23px;
  display: flex;
  width: 24px;
  height: 24px;
  box-sizing: border-box;
}
.frame-7 .container-3 {
  border-radius: 24.7px;
  border: 3px solid #A01760;
  position: relative;
  width: 316px;
  height: 54px;
}
.frame-7 .frame-3702 {
  position: relative;
  margin: 0 10.3px 17px 10.3px;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: flex-end;
  width: 316px;
  box-sizing: border-box;
}
.frame-7 .rectangle-3 {
  border-radius: 8px;
  border: 1.8px solid #F9F9F9;
  margin: 3px 11px 3px 0;
  width: 23px;
  height: 23px;
}
.frame-7 .iagree-with-privacy-and-policy {
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 500;
  font-size: 17px;
  letter-spacing: -0.5px;
  line-height: 1.706;
  color: #FFFFFF;
}
.iagree-with-privacy-and-policy-sub1 {
  font-family: 'Poppins';
  font-weight: 500;
  font-size: 17px;
  letter-spacing: -0.5px;
  line-height: 1.333;
  color: #A01760;
}
.iagree-with-privacy-and-policy {
  font-family: 'Poppins';
  font-weight: 500;
  font-size: 17px;
  letter-spacing: -0.5px;
  line-height: 1.333;
  color: #A01760;
}
.frame-7 .container-1 {
  position: relative;
  margin: 0 33px 18px 0;
  display: flex;
  flex-direction: row;
  width: fit-content;
  box-sizing: border-box;
}
.frame-7 .sign-up-1 {
  text-align: center;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 700;
  font-size: 24.5px;
  letter-spacing: -0.4px;
  line-height: 0.967;
  color: #FFFFFF;
}
.frame-7 .frame-2 {
  border-radius: 24.7px;
  background: #A01760;
  position: relative;
  margin: 0 12.3px 30px 1.5px;
  display: flex;
  padding: 3px 1px 3px 0;
  width: calc(100% - 13.9px);
  box-sizing: border-box;
}
.frame-7 .already-have-an-account {
  margin-right: 10.3px;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 500;
  font-size: 17px;
  letter-spacing: -0.5px;
  line-height: 1.706;
  color: #FFFFFF;
}
.frame-7 .sign-in {
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 500;
  font-size: 17px;
  letter-spacing: -0.5px;
  line-height: 1.706;
  color: #A01760;
}
.frame-7 .container-2 {
  position: relative;
  margin: 0 1.5px;
  display: flex;
  flex-direction: row;
  align-self: flex-start;
  width: fit-content;
  box-sizing: border-box;
}
.frame-7 {
  border-radius: 40px;
  background: #26292E;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 13px 22.7px 49px 37.5px;
  box-sizing: border-box;
}
