.tab-bar .ellipse-2 {
  border-radius: 18.5px;
  background: #851A53;
  position: relative;
  width: 37px;
  height: 37px;
}
.tab-bar .rectangle-6 {
  backdrop-filter: blur(20px);
  border-radius: 40px;
  position: absolute;
  left: 50%;
  bottom: 0px;
  translate: -50% 0;
  width: 390px;
  height: 75px;
}
.tab-bar .add {
  width: 30px;
  height: 30px;
}
.tab-bar .vuesaxlinearadd {
  display: flex;
  width: 30px;
  height: 30px;
  box-sizing: border-box;
}
.tab-bar .container {
  backdrop-filter: blur(10px);
  border-radius: 34px;
  background: linear-gradient(305.5deg, rgba(41, 14, 44, 0.3) 72.4%, rgba(131, 116, 116, 0.3) 211.2%);
  position: absolute;
  left: 50%;
  top: 0px;
  translate: -50% 0;
  display: flex;
  padding: 19px;
  width: 68px;
  height: 68px;
  box-sizing: border-box;
}
.tab-bar .frame-5 {
  width: 22px;
  height: 22px;
}
.tab-bar .frame-4 {
  display: flex;
  width: 20px;
  height: 20px;
  box-sizing: border-box;
}
.tab-bar .cloud {
  width: 21.4px;
  height: 21.4px;
}
.tab-bar .vuesaxlinearcloud {
  margin-bottom: 0.6px;
  display: flex;
  width: 21.4px;
  height: 21.4px;
  box-sizing: border-box;
}
.tab-bar .setting {
  width: 21.4px;
  height: 21.4px;
}
.tab-bar .vuesaxlinearsetting {
  margin-bottom: 0.6px;
  display: flex;
  width: 21.4px;
  height: 21.4px;
  box-sizing: border-box;
}
.tab-bar .profile-circle {
  width: 21.4px;
  height: 21.4px;
}
.tab-bar .vuesaxlinearprofile-circle {
  margin-bottom: 0.6px;
  display: flex;
  width: 21.4px;
  height: 21.4px;
  box-sizing: border-box;
}
.tab-bar .frame-6 {
  position: absolute;
  right: 49.8px;
  bottom: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 285px;
  box-sizing: border-box;
}
.tab-bar {
  display: flex;
  padding: 85px 253px 14px 0;
  box-sizing: border-box;
}
